body{ 
    background-color: rgb(100, 100, 228);
    font-weight: bolder;
}
h1 {
    background-color: grey;
}
h2{
    font-weight: bold;
}
td{
    border: 5px solid black;
}
h3{
    font-weight: bold;
}
table{
    background-color: aqua;
}